.main {
    text-align: center;
    margin-bottom: 30px;
}



.first_ball {
    width: 70px;
    height: 70px;
    color: #E5E5E5;
    background-color: #c11f5a;
    border-radius: 35px;
    margin: 5px;
    float: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle at top, #eae7e7, 20% ,#c11f5a);
    -webkit-box-shadow: 1px 25px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 25px 17px -7px rgba(0,0,0,0.75);
    box-shadow: 1px 25px 17px -7px rgba(0,0,0,0.75);
}

.first_ball p {
    font-weight: 800;
}

.balls {
    width: 70px;
    height: 70px;
    color: #E5E5E5;
    background-color: #c11f5a;
    border-radius: 35px;
    margin: 5px;
    float: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle at top, #eae7e7, 20% ,#c11f5a);
    -webkit-box-shadow: 1px 25px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 25px 17px -7px rgba(0,0,0,0.75);
    box-shadow: 1px 25px 17px -7px rgba(0,0,0,0.75);
}

.balls p {
    font-weight: 800;
}


.number_click {
    background-color: #FE7F2D;
}


/* ALL BALLS */

.all_balls {
    width: 50px;
    height: 50px;
    background-color: #E5E5E5;
    border: 2px solid #262b29;
    border-radius: 25px;
    margin: 14px 5px 0 5px;
    float: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all_balls_sorted {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-color: #c11f5a;
    color: #E5E5E5;
    border-radius: 25px;
    margin: 14px 5px 0 5px;
    float: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MAIN DISPLAY */

.first_main_ball {
    width: 70px;
    height: 70px;
    color: #fff;
    background-color: #c11f5a;
    border-radius: 200px;
    font-size: 50px;
    margin: 5px;
    float: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four_main_ball {
    width: 70px;
    height: 70px;
    color: #ffffff;
    background-color: #c11f5a;
    border-radius: 200px;
    font-size: 50px;
    margin: 5px;
    float: left;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}