.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fe7f2d;
  background-image: url("/background.png");
}

.title {
    font-family: 'Quicksand';
    text-align: center;
    font-size: 10vh;
    user-select: none;
    color: #c11f5a;
}

.btnNextGame {
  border: none;
  width: 7rem;
  height: 1.5rem;
  background-color: #c11f5a;
  cursor: pointer;
  color: aliceblue;
  transition: 0.3s;
}

.btnNextGame:hover {
  transform: scale(1.2);
}

