.main {
    background-color: #E5E5E5;
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input {
    outline: none;
    margin-bottom: 15px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border: 0px;
    border-bottom: 2px solid #c11f5a;
    transition: 0.3s;
    background: transparent;
}

.input:focus {
    border-bottom: 2px solid #f18736;
}

.red_color {
    background-color: #c11f5a;
}

.bgc_dark_blue {
    background-color: #1e8aa8;
}

.btn_enter {
    color: #E5E5E5;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-top: 10px;
    transition: 0.7s;
}

.btn_enter:hover {
    background-color: #FE7F2D;
    cursor: pointer;
}

.division {
    text-align: center;
    font-size: 40px;
    color: rgb(35, 61, 77, 0.3);
    margin-bottom: 14px;
    
    background: linear-gradient(90deg, rgba(193, 31, 90, 1) 50%, rgba(222, 81, 38, 1) 50%);
    background-clip: text;
    -webkit-background-clip: text; /* Adicionando prefixo para navegadores Webkit (Chrome, Safari) */
    color: transparent; /* Torna o texto transparente */


}